@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: monospace, Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 1.25rem;
  color: black;
  background-color: white;
}

body .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 100px;
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
  display: block;
}

.header {
  padding: 20px 40px;
}

@media (max-width: 1000px) {
  .header header {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.header h1 {
  font-family: 'Italiana', 'Times New Roman', Times, serif;
  line-height: 74px;
  font-size: 4rem;
  display: inline-block;
  text-align: center;
}

@media (max-width: 500px) {
  .header h1 {
    line-height: 58px;
    font-size: 3rem;
  }
}

.header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.header nav ul li a {
  font-family: monospace, Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #141414;
  font-size: 1.125rem;
  padding: 10px 20px;
  display: inline-block;
  background-color: #8ef8a0;
  border-radius: 4px;
}

.header nav ul li a:hover {
  color: #3a3a3a;
  background-color: #46f463;
}

@media (max-width: 500px) {
  .header nav ul li a {
    line-height: 26px;
    font-size: 1rem;
    display: block;
  }
}

/* Título */
.title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  padding-bottom: 0;
  padding-top: 0;
}

@media (max-width: 1000px) {
  .title {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;
  }
}

.title__avatar {
  justify-self: center;
}

@media (max-width: 1000px) {
  .title__avatar {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .title__avatar {
    width: 80%;
  }
}

.title__avatar img {
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  box-shadow: 0 1px 2px #141414;
}

@media (max-width: 1000px) {
  .title__content {
    text-align: center;
  }
}

.title__content h1 {
  font-family: 'Italiana', 'Times New Roman', Times, serif;
  line-height: 74px;
  font-size: 4rem;
}

@media (max-width: 1000px) {
  .title__content h1 {
    line-height: 58px;
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .title__content h1 {
    line-height: 42px;
    font-size: 2rem;
  }
}

.title__content p {
  margin-left: 40px;
  line-height: 42px;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .title__content p {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .title__content p {
    line-height: 26px;
    font-size: 1rem;
  }
}

/* Experiência */
.experience {
  display: grid;
  gap: 50px;
  padding-bottom: 0;
  padding-top: 0;
}

@media (max-width: 1000px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.experience div h2 {
  font-family: 'Radio Canada', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 74px;
  font-size: 4rem;
  text-align: center;
  text-shadow: 3px 3px 3px #8ef8a0;
}

@media (max-width: 1000px) {
  .experience div h2 {
    line-height: 58px;
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .experience div h2 {
    line-height: 42px;
    font-size: 2rem;
  }
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.experience-content p {
  line-height: 42px;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .experience-content p {
    line-height: 34px;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .experience-content p {
    line-height: 30px;
    font-size: 1.25rem;
  }
}

.experience-content-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .experience-content-item {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .experience-content-item {
    gap: 10px;
  }
}

.experience-content-item p {
  line-height: 30px;
  font-size: 1.25rem;
}

@media (max-width: 500px) {
  .experience-content-item p {
    line-height: 26px;
    font-size: 1rem;
  }
}

.experience-content-item a {
  position: relative;
  display: inline-block;
  background-color: #3a3a3a;
  color: #f1f1f1;
  text-align: center;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}

.experience-content-item a:hover {
  background-color: black;
}

@media (max-width: 500px) {
  .experience-content-item a {
    line-height: 26px;
    font-size: 1rem;
  }
}

.experience-content-item__title1 {
  font-family: 'Radio Canada', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 34px;
  font-size: 1.5rem;
}

.experience-content-item__title1::before {
  position: absolute;
  left: -10px;
  content: "";
  width: 5px;
  height: 1.5rem;
  background-color: #8ef8a0;
}

@media (max-width: 500px) {
  .experience-content-item__title1 {
    line-height: 30px;
    font-size: 1.25rem;
  }
}

.experience-content-item__title2 {
  font-family: 'Radio Canada', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 1.25rem;
}

@media (max-width: 500px) {
  .experience-content-item__title2 {
    line-height: 26px;
    font-size: 1rem;
  }
}

.experience-content-item__tech {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  gap: 10px;
}

.experience-content-item__tech li {
  display: flex;
  place-items: center;
  background-color: #8ef8a0;
  height: max-content;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .experience-content-item__tech li {
    line-height: 26px;
    font-size: 1rem;
  }
}

/* Formação */
.formacao {
  background-color: #8ef8a0;
}

.formacao h2 {
  margin-bottom: 50px;
  font-family: 'Radio Canada', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 74px;
  font-size: 4rem;
  text-align: center;
  color: #f1f1f1;
  text-shadow: 3px 3px 3px #141414;
}

@media (max-width: 1000px) {
  .formacao h2 {
    line-height: 58px;
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .formacao h2 {
    line-height: 42px;
    font-size: 2rem;
  }
}

.formacao-content {
  display: grid;
  gap: 40px;
}

.formacao-content-academica {
  display: grid;
  gap: 20px;
}

.formacao-content-academica p {
  line-height: 42px;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .formacao-content-academica p {
    line-height: 34px;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .formacao-content-academica p {
    line-height: 30px;
    font-size: 1.25rem;
  }
}

.formacao-content-academica__lista {
  display: flex;
  gap: 20px;
}

@media (max-width: 1000px) {
  .formacao-content-academica__lista {
    flex-direction: column;
  }
}

.formacao-content-academica__lista li {
  background-color: #f1f1f1;
  width: 25ch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
}

@media (max-width: 1000px) {
  .formacao-content-academica__lista li {
    width: 100%;
    box-sizing: border-box;
  }
}

.formacao-content-academica__lista li p {
  line-height: 26px;
  font-size: 1rem;
}

.formacao-content-academica__lista li h3 {
  line-height: 34px;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .formacao-content-academica__lista li h3 {
    line-height: 30px;
    font-size: 1.25rem;
  }
}

.formacao-content-academica__lista li h3::before {
  position: absolute;
  left: -10px;
  content: "";
  width: 5px;
  height: 1.5rem;
  background-color: #141414;
}

.formacao-content-intensiva {
  display: grid;
  gap: 20px;
  position: relative;
}

.formacao-content-intensiva h3 {
  text-transform: uppercase;
}

.formacao-content-intensiva h3::before {
  position: absolute;
  top: 0.25rem;
  left: -2rem;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #f1f1f1;
  border-radius: 90px;
}

.formacao-content-intensiva__lista {
  display: grid;
  gap: 10px;
}

@media (max-width: 1000px) {
  .formacao-content-intensiva__lista {
    line-height: 26px;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .formacao-content-intensiva__lista {
    line-height: 22px;
    font-size: 0.75rem;
  }
}

.formacao-content-intensiva__lista li {
  display: grid;
  grid-template-columns: auto auto 5ch;
}

.formacao-content-intensiva__lista li p {
  text-align: right;
}

.formacao-content-idiomas {
  display: grid;
  gap: 20px;
  position: relative;
}

.formacao-content-idiomas h3 {
  text-transform: uppercase;
}

.formacao-content-idiomas h3::before {
  position: absolute;
  top: 0.25rem;
  left: -2rem;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #f1f1f1;
  border-radius: 90px;
}

@media (max-width: 1000px) {
  .formacao-content-idiomas ul {
    line-height: 26px;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .formacao-content-idiomas ul {
    line-height: 22px;
    font-size: 0.75rem;
  }
}

.footer {
  background-color: #3a3a3a;
  color: #f1f1f1;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.footer-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

@media (max-width: 1000px) {
  .footer-contato {
    grid-template-columns: 1fr;
    line-height: 26px;
    font-size: 1rem;
  }
}

.footer-contato p {
  max-width: 50ch;
}

.footer-contato ul {
  justify-self: right;
}

@media (max-width: 1000px) {
  .footer-contato ul {
    justify-self: left;
  }
}

.footer-contato ul li {
  color: #8ef8a0;
  max-width: 30ch;
}

.footer-contato ul li a {
  color: #8ef8a0;
  text-decoration: underline;
}

.footer-contato ul li a:hover {
  color: #f1f1f1;
}

.footer__madeby {
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .footer__madeby {
    margin-top: 20px;
    line-height: 22px;
    font-size: 0.75rem;
  }
}
