$e1: #BCFC9A;
$e2: #70DE4E;
$e3: #43bd33;
$e4: #1d9e1d;
$e5: #0D7E1B;
$e6: #064E17;
$e7: #022D11;

$g1: #E4F5E4;
$g2: #D1E0D1;
$g3: #BECCBE;
$g4: #8CA38C;
$g5: #8CA38C;
$g6: #7B8F7B;
$g7: #697A69;
$g8: #586658;
$g9: #405240;
$g10: #303D30;
$g11: #202920;
$g12: #101410;