@use "cores";
@use "tipografia";

body{
    @include tipografia.font(general);
    @include tipografia.size(2);
    color: cores.$g8;
    background-color: cores.$g1;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
        padding-bottom: 100px;
    }
    a {
        text-decoration: none;
    }
    img{
        max-width: 100%;
        display: block;
    }
}