@use "cores";
@use "responsive";
@use "tipografia";

.header{
    padding: 2.5rem 0;
    background-color: cores.$g12;
    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        li {
            @include tipografia.font(general);
            @include tipografia.size(1.25);
            cursor: pointer;
            padding: 0.5rem 1rem;
            font-weight: 400;
            color: cores.$e3;
            border: 1px solid cores.$e4;
            border-radius: 0.25rem;
            &:hover{
                color: cores.$g1;
                border-color: cores.$g1;
            }
            @include responsive.responsive(cellphone){
                @include tipografia.size(1);
                display: block;
            }
        }
        .active {
            background-color: cores.$e4;
            color: cores.$g1;
            border-color: cores.$g1;
        }
    }
    @include responsive.responsive(tablet){
        header{
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }
}