@mixin font ($type){
    @if $type == title-1{
        font-family: 'Mulish', 'Segoe UI', sans-serif;
    }
    @else if $type == general{
        font-family: 'Open Sans', Calibri, sans-serif;
    }
}

@mixin size ($size){
    line-height: $size * 16 + 10px;
    font-size: $size + rem;
}