$cor-primaria: #8ef8a0;
$cor-primaria-lighter: lighten($cor-primaria, 15%);
$cor-primaria-darker: darken($cor-primaria, 15%);
$cor-secundaria: #141414;
$cor-secundaria-lighter: lighten($cor-secundaria, 15%);
$cor-secundaria-darker: darken($cor-secundaria, 15%);
$cor-detalhe: #f1f1f1;
$cor-detalhe-lighter: lighten($cor-detalhe, 15%);
$cor-detalhe-darker: darken($cor-detalhe, 15%);