.footer{
    &-container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
    }
    background-color: $cor-secundaria-lighter;
    color: $cor-detalhe;
    &-contato{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:40px;
        align-items: center;
        @include responsive(tablet){
            grid-template-columns: 1fr;
            @include size(1);
        }
        p{
            max-width: 50ch;
        }
        ul{
            justify-self: right;
            @include responsive(tablet){
                justify-self: left;
            }
            li{
                color: $cor-primaria;
                max-width: 30ch;
                a{
                    color: $cor-primaria;
                    text-decoration: underline;
                    &:hover{
                        color:$cor-detalhe;
                    }
                }
            }
        }
    }
    &__madeby{
        font-size: 1rem;
        @include responsive(tablet){
            margin-top: 20px; 
            @include size(0.75);
        }
    }
}



