footer{
    background-color: #272f34;
    color: #f1f1f1;
}
.container-footer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    font-size: 1.5rem;
}
.contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    align-items: center;
}

.contato p{
    max-width: 50ch;
}
.contato ul{
    justify-self: right;
}
.contato ul li{
    color: #8ef8a0;
    max-width: 30ch;
}

.contato ul li a{
    color: #8ef8a0;
    text-decoration: underline;
}
.contato ul li a:hover{
    color:#f1f1f1;
}
.madeby{
    font-size: 1rem;
}

@media (max-width: 800px){
    .container-footer{
        padding-bottom: 20px;
        font-size: 1rem;
    }
    .contato{
        grid-template-columns: 1fr;
    }

    .contato ul{
        justify-self: left;
        margin-bottom: 30px;
    }
}



