.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 100px;
    h1{
        @include font(1);
        @include size (4);
        display: inline-block;
        text-align: center;
    }
}
.header__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    li a{
        @include font(3);
        @include size(1.25);
        font-weight: 400;
        color: $cor-secundaria;
        font-size: 1.125rem;
        padding: 10px 20px;
        display: inline-block;
        background-color: $cor-primaria;
        border-radius: 4px;
        &:hover{
            color: $cor-secundaria-lighter;
            background-color: $cor-primaria-darker;
        }
    }
}

@media (max-width: 1000px) {
    header{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    header h1{
        font-size: 3rem;
    }
    .menu li a{
        font-size: 1rem;
        display: block;
    }
}