/* Título */

.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
    padding-bottom: 0;
    padding-top: 0;
    @include responsive (tablet){
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 20px;
    }
    &__avatar{
        justify-self: center;
        @include responsive (tablet){
            width: 60%;
        }
        @include responsive (cellphone){
            width: 80%;
        }
        img{
            border-radius: 50%;
            border: 2px solid $cor-detalhe;
            box-shadow: 0 1px 2px $cor-secundaria;
        }
    }
    &__content{
        @include responsive(tablet){
            text-align: center;
        }
        h1{
            @include font(title-1);
            @include size(4);
            @include responsive(tablet){
                @include size(3);
            }
            @include responsive(cellphone){
                @include size(2);
            }
        }
        p{
            margin-left: 40px;
            @include size(2);
            @include responsive(tablet){
                margin-left: 0;
            }
            @include responsive(cellphone){
                @include size(1);
            }
        }
    }
}

/* Experiência */

.experience{
    display: grid;  
    gap: 50px;
    padding-bottom: 0;
    padding-top: 0;
    @include responsive (tablet){
        grid-template-columns: 1fr;
        gap: 30px;
    }
    div h2{
        @include font(title-2);
        @include size(4);
        text-align: center;
        text-shadow: 3px 3px 3px $cor-primaria;
        @include responsive(tablet){
            @include size(3);
        }
        @include responsive(cellphone){
            @include size(2);
        }
    }
    &-content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        p{
            @include size(2);
            @include responsive (tablet){
                @include size(1.5);
            }
            @include responsive (cellphone){
                @include size(1.25);
            }
        }
        &-item{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            position: relative;
            background-color: $cor-detalhe;
            padding: 20px;
            border-radius: 5px;
            margin-top: 20px;
            @include responsive(tablet){
                grid-template-columns: 1fr;
            }
            @include responsive(cellphone){
                gap: 10px;
            }
            p{
                @include size(1.25);
                @include responsive(cellphone){
                    @include size(1);
                }
            }
            a{
                position: relative;
                display: inline-block;
                background-color: $cor-secundaria-lighter;
                color: $cor-detalhe;
                text-align: center;
                width: max-content;
                padding: 5px;
                border-radius: 5px;
                padding: 10px 20px;
                &:hover{
                    background-color: $cor-secundaria-darker;
                }
                @include responsive(cellphone){
                    @include size(1);
                }
            }
            &__title1{
                @include font (title-2);
                @include size(1.5);
                &::before{
                    position:absolute;
                    left: -10px;
                    content: "";
                    width: 5px;
                    height: 1.5rem;
                    background-color: $cor-primaria;
                }
                @include responsive(cellphone){
                    @include size(1.25);
                }  
            }
            &__title2{
                @include font (title-2);
                @include size(1.25);
                @include responsive(cellphone){
                    @include size(1);
                }
            }
            &__tech{
                display: flex;
                flex-wrap: wrap;
                align-items: top;
                gap: 10px;
                li{
                    display:flex;
                    place-items: center;
                    background-color: $cor-primaria;
                    height: max-content;
                    padding: 5px 10px;
                    border-radius: 5px;
                    @include responsive(cellphone){
                        @include size(1);
                    }
                }
            }
        }
    }
}

/* Formação */

.formacao{
    background-color: #8ef8a0;
    
}

.containers{
    display: grid;
    max-width: 1200px;
    margin: 100px auto 0 auto;
    gap: 50px;
    padding: 50px 40px;
    font-size: 1.25rem;
}

.formacao h2{
    font-size: 7rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #f1f1f1;
    text-shadow: 3px 3px 3px #272f34;
}

.formacao-content{
    display: grid;
    gap: 40px;
}

.formacao-content-academica{
    display: grid;
    gap:20px;
}

.formacao-content-academica p{
    font-size: 2rem;
}

.formacao-content-academica-lista{
    display: flex;
    gap: 20px;
}

.formacao-content-academica-lista li{
    background-color: #f1f1f1;
    width: 25ch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
}

.formacao-content-academica-lista li p{
    font-size: 1.25rem;
}

.formacao-content-academica-lista li h3{
    font-size: 1.5rem;
}


.formacao-content-academica-lista li h3::before{
    position:absolute;
    left: -10px;
    content: "";
    width: 5px;
    height: 1.5rem;
    background-color: #272f34;
    
}

.formacao-content-intensiva{
    display: grid;
    gap: 20px;
    position: relative;
}
.formacao-content-intensiva h3{
    text-transform: uppercase;
}
.formacao-content-intensiva h3::before{
    position: absolute;
    top: 0.25rem;
    left: -2rem;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: #f1f1f1;
    border-radius: 90px;

}
.formacao-content-intensiva-lista{
    display: grid;
    gap:10px;
}
.formacao-content-intensiva-lista li{
    display: grid;
    grid-template-columns: auto auto 5ch;

}
.formacao-content-intensiva-lista li p{
    text-align: right;
}

.formacao-content-idiomas{
    display: grid;
    gap: 20px;
    position: relative;
}
.formacao-content-idiomas h3{
    text-transform: uppercase;
}
.formacao-content-idiomas h3::before{
    position: absolute;
    top: 0.25rem;
    left: -2rem;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: #f1f1f1;
    border-radius: 90px;
}

@media (max-width: 900px){
    .container{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .formacao h2{
        font-size: 5rem;
        word-break: initial;
    }
    .formacao-content-academica p{
        font-size: 1.75rem;
    }
}

@media (max-width: 700px){
    .formacao-content-academica p{
        font-size: 1.5rem;
    }
    .formacao h2{
        font-size: 4rem;
    }
    .formacao-content-academica-lista{
        flex-direction: column;
    }
}

@media (max-width: 500px){
    .container{
        padding: 50px 10px;
    }
    .formacao-content-academica p{
        font-size: 1.25rem;
    }
    .formacao h2{
        font-size: 2rem;
    }
    .exp-item{
        grid-template-columns: 1fr;
    }
    .exp-item-cargo{
        font-size: 1.25rem;
    }
    .exp-item p{
        font-size: 1rem;
    }
    .formacao-content-intensiva-lista{
        font-size: 0.75rem;
    }
    .formacao-content-academica-lista li{
        width: 15ch;
    }

}